body.darkmode {
    background-color: #292929;
    /**color: #fff;**/
}

body.darkmode > #main-header {
    background-color: #091c32;
}

body.darkmode > #info-menu {
    background-color: #3a3a3a;
}

body.darkmode > #info-menu > div:nth-of-type(1) > div > h4 {
    color: #fefefe;
}
body.darkmode > #info-menu > div:nth-of-type(1) > div > span {
    color: #cccccc;
}

body.darkmode > #nav-menu {
    background-color: #3a3a3a;
}

body.darkmode > #nav-menu ul > li > a{
    color: #efefef !important;
}

body.darkmode > #nav-menu > ul > li > ul > li > ul > li > a{
    color: #cccccc !important;
}

body.darkmode > #nav-menu > ul > li > ul > li > ul > li:hover{
    background-color: #444444;
    border-right: 4px solid #091c32;
}

body.darkmode #search > div:nth-of-type(1) > input{
    background: #565656;
    color: #efefef;
}

body.darkmode .search-result {
    background-color: #565656;
}

body.darkmode .search-result:hover{
    background-color: #606060;
}

body.darkmode .search-result > h4{
    color: #efefef !important;
}

body.darkmode .search-result > span{
    color: #cccccc;
}

body.darkmode #map-label > div:nth-of-type(1) {
    background-color: #2f236b;
}

body.darkmode #btn-settings {
    background-color: #091c32 !important;
}

/*** SVG Maps ***/

body.darkmode path {
    stroke: #efefef !important;
}

body.darkmode circle {
    stroke: #efefef !important;
}

body.darkmode rect {
    stroke: #efefef !important;
}

body.darkmode tspan {
    fill: #efefef;
}

body.darkmode text {
    fill: #efefef;
}

body.darkmode .icon {
    fill: #efefef !important;
    stroke-width: 0px !important;
}

/*** Animation ***/

body {
    animation: 700ms color ease-in-out;
    animation: background-color 700ms ease-in-out;
    -webkit-transition: background-color 700ms ease-in-out;
    -ms-transition: background-color 700ms ease-in-out;
    transition: background-color 700ms ease-in-out;
}

path, circle, rect, tspan, text {
    animation: 700ms stroke fill ease-in-out;
}

tspan:hover {
    text-decoration: none;
}