/***
*   Settings
***/

#btn-settings{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-image: url("/img/icon-settings.svg");
    background-size: 48px auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#settings {
    background-color: #eeeeee;
    width: 350px;
    min-height: 50px;
    position: fixed;
    top: 76px;
    right: 20px;
    z-index: 200;
    padding: 34px 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
}

#settings > h3 {
    padding: 6px 5px;
    color: #777777;
}

#settings > .setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

#settings > .setting > span{
    font-size: 17px;
    margin-right: 24px;
}