/***
*   Settings
***/

#btn-settings{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-image: url("/img/icon-settings.svg");
    background-size: 48px auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#settings {
    background-color: #fafafa;
    width: 350px;
    min-height: 50px;
    position: fixed;
    top: 76px;
    right: 20px;
    z-index: 200;
    padding: 34px 14px;
    border-radius: 5px;
    box-shadow: #00000026 0 2px 8px;
    display: none;
    flex-direction: column;
}

#settings.open {
    display: flex;
}

#settings > h3 {
    padding: 6px 5px;
    color: #333;
}

#settings > .setting {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

#settings > .setting > span{
    font-size: 16px;
    margin-right: 24px;
    color: #333;
    font-weight: 600;
    margin-left: 12px;
}

#settings > h3:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 4px;
}
#settings > .legende {
    min-height: 30px;
    line-height: 30px;
    padding-left: 40px;
    margin-top: 6px;
    margin-left: 8px;
    background-image: url("/img/icon-stairs.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
#settings > .lgd-stairs {
    background-image: url("/img/icon-stairs.svg");
}
#settings > .lgd-elevator {
    background-image: url("/img/icon-elevator.svg");
}
#settings > .lgd-disabled {
    background-image: url("/img/icon-disabled.svg");
}
#settings > .legende > span{
    font-size: 13px;
    margin-right: 24px;
    color: #777;
    font-weight: 600;
}
