#btn-settings{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 160px;
    height: 46px;
    margin-right: 20px;
    background-color: rgb(1, 32, 124); 
    background-image: url("/img/logo-epimap.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: #00000030 0 2px 5px;
}
#settings {
    background-color: #fafafa;
    width: 300px;
    min-height: 50px;
    position: fixed;
    top: 76px;
    right: 20px;
    z-index: 200;
    padding: 34px 32px 34px 26px;
    border-radius: 5px;
    box-shadow: #00000026 0 2px 8px;
    display: none;
    flex-direction: column;
}
#settings.open {
    display: flex;
}
#settings > h3 {
    padding: 6px 5px;
    color: #333;
}
#settings > .setting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
}
#settings > .setting > span{
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 600;
    margin-left: 4px;
}
#settings > h3:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 4px;
}
#settings > .legende {
    min-height: 30px;
    line-height: 30px;
    padding-right: 40px;
    margin-top: 6px;
    background-image: url("/img/icon-stairs.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 12px;
}
#settings > .legende > span{
    font-size: 14px;
    margin-left: 12px;
    color: #5f5f5f;
    font-weight: 600;
}

body.darkmode #settings {
    background-color: #3a3a3a;
}
body.darkmode #settings > h3 {
    color: #efefef;
}
body.darkmode #settings span {
    color: #cacaca;
}
