/***
*   General
***/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body{
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}
#main-header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    width: 100vw;
    padding: 0px;
    background: rgb(71,0,186);/* #4700ba */
    background: linear-gradient(159deg, rgba(71,0,186,1) 68%, rgba(16,0,145,1) 100%);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 1002;
}
#main-header #title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-header #logo {
    display: flex;
    position: relative;
    top: 1px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    font-size: 2em;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
}
#main-header #logo > img{
    max-height: 54px;
}
#main-header > a:nth-of-type(2){
    justify-content: flex-end;
}
#main-header > #search{
    width: 60px;
    height: 60px;
    margin-right: 25px;
    margin-left: 20px;
}

/***
* Menu button
***/

#btn-menu{
    position: relative;
    top: -1px;
    margin-left: 20px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#btn-menu > div{
	display: inline-block;
	position: absolute;
	vertical-align: top;
	background-color: #fff;
	border-radius: 1px;
	height: 5px;
	width: 35px;
    transition: all 0.3s;
    border-radius: 2px;
}
#btn-menu > div:nth-of-type(1){
	top: 17px;
	left: 12px;
}
#btn-menu > div:nth-of-type(2){
	top: 28px;
	left: 12px;
}
#btn-menu > div:nth-of-type(3){
	top: 39px;
	left: 12px;
}
#btn-menu.menu-open > div:nth-of-type(1){
	top: 28px;
	transform: rotate(45deg);
}
#btn-menu.menu-open > div:nth-of-type(2){
	display: none;
}
#btn-menu.menu-open > div:nth-of-type(3){
	top: 28px;
	transform: rotate(-45deg);
}

/***
* Menu
***/

#left-menu{
    z-index: 500;
    position: absolute;
    background-color: #f7f7f7;
    padding-top: 84px;
    height: calc(100vh - 84px);
    left: -290px;
    width: 290px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    transition: all ease-in-out 0.4s;
}
#left-menu ul{
    list-style: none;
}
#left-menu ul > li > a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #333 !important;
    font-size: 16px !important;
}
#left-menu > ul{
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-end !important;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding-bottom: 60px;
}
#left-menu > ul > li > a{
    text-transform: uppercase;
    font-size: 1.3em !important;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 7px;
    /*background-color: #d8d8d8;*/
}
#left-menu > ul > li > ul > li > a{
    font-size: 1.1em !important;
    padding-left: 32px;
    padding-top: 17px;
    padding-bottom: 6px;
    /*background-color: #e3e3e3;*/
}
#left-menu > ul > li > ul > li:nth-of-type(1) > a{
    padding-top: 7px;
}
#left-menu > ul > li > ul > li > ul > li > a{
    font-size: 1em !important;
    padding-left: 45px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #777 !important;
    font-weight: 500;
}
#left-menu > ul > li > ul > li > ul > li:hover{
    background-color: #e3e3e3;
    cursor: pointer;
    border-right: 4px solid rgb(71,0,186);
}
#left-menu.menu-open{
    transform: translate(290px);
}
#cache
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    visibility: hidden;
    transition: visibility step-start 0s;
}
#cache.menu-open{
    visibility: visible;
    transition: visibility step-end 0.4s;
}
#cache > div{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all ease-in-out 0.4s;
}
#cache.menu-open > div{
    background-color: rgba(0,0,0,0.6);
}


/***
*   Footer
***/

#infooter {
    font-size: 0.8em !important;
    color: #777 !important;
    font-weight: 500;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
}
#infooter a{
    color: #777 !important;
}

/***
* Container
***/

#container{
    position: absolute;
    top: 95px;
    left: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 125px);
    transition: all ease-in-out 0.4s;
    border: none;
}
#container > iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/***
* Map name nav (bottom right)
***/

#map-nav {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: flex;
    background-color: #4700ba;
    padding: 9px 13px;
    font-family: 'Atkinson', sans-serif;    
    color: #fff;
    transition: 0.1s all ease-in-out;
}
#map-nav > .map-icon {
    background-image: url('../img/icon-mappoint.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 7px;
}
#map-nav a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
#map-nav span {
    color: #ffffff;
    font-weight: 700;
    position: relative;
    top: -1px;
}
/*
#map-nav a:hover {
    color: tomato;
}*/

/***
* Footer
***/

footer {
    background-color: rgb(223, 189, 0);
    font-size: 0.8em;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    z-index: 3000;
    text-align: center;
    line-height: 12px;
}

/***
* Responsive mobile
***/

@media all and (max-width: 700px) {
    #main-header{
        justify-content: center;
    }
    #main-header > a:nth-of-type(1){
        justify-content: center;
    }
    #main-header > a:nth-of-type(2){
        display: none;
    }
    #main-header .plain-button{
        display: none;
    }
}