@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
}
/* #2b0967 */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body{
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: hidden;
}
header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 46px;
    padding: 0px;
    background: #eaeaea;/* #4700ba - 35,7,82 */
    box-shadow: #00000030 0 2px 5px;
    border-radius: 40px;
    z-index: 1002;
}
header > #btn-menu {
    margin-left: 22px;
}
header > input[type="text"]{
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 24px;
    line-height: 24px;
    width: 250px;
    margin-left: 20px;
    font-size: 17px;
    color: #333;
}
header > input[type="text"]:focus {
    outline: none;
}
header > button {
    height: 28px;
    width: 28px;
    border: none;
    background-image: url('../img/icon-search.svg');
    background-color: transparent;
    background-size: 28px auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 15px;
}

/***
* Menu button
***/

#btn-menu {
    position: relative;
    top: -1px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#btn-menu > div{
	display: inline-block;
	position: absolute;
	vertical-align: top;
	background-color: #777;
	border-radius: 1px;
	height: 4px;
	width: 25px;
    transition: all 0.3s;
}
#btn-menu > div:nth-of-type(1){
	top: 0px;
	left: 0px;
}
#btn-menu > div:nth-of-type(2){
	top: 9px;
	left: 0px;
}
#btn-menu > div:nth-of-type(3){
	top: 18px;
	left: 0px;
}
#btn-menu.menu-open > div:nth-of-type(1){
	top: 10px;
	width: 30px;
    left: -2px;
	transform: rotate(45deg);
}
#btn-menu.menu-open > div:nth-of-type(2){
	display: none;
    left: -2px;
}
#btn-menu.menu-open > div:nth-of-type(3){
	top: 10px;
    left: -2px;
	width: 30px;
	transform: rotate(-45deg);
}
#btn-menu.menu-back > div:nth-of-type(1){
	top: 14px;
    width: 16px;
    height: 4px;
	transform: rotate(45deg);
}
#btn-menu.menu-back > div:nth-of-type(2){
    top: 9px;
	left: 1px;
    width: 26px;
    height: 3px;
}
#btn-menu.menu-back > div:nth-of-type(3){
	top: 3px;
    width: 16px;
    height: 4px;
	transform: rotate(-45deg);
}

/**
*
***/

#info-menu {
    z-index: 400;
    position: absolute;
    background-color: #f7f7f7;
    padding-top: 84px;
    height: calc(100vh - 84px);
    left: -405px;
    width: 405px;
    box-shadow: 3px 1px 6px rgba(0,0,0,.2);
    transition: all ease-in-out 0.4s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-menu.menu-open{
    transform: translate(100%);
}
#info-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-menu > div:nth-of-type(1) {
    width: calc(100% - 44px);
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(1) {
    background-color: rgb(175, 198, 238);
    background-size: cover;
    background-position: center center;
    width: 100%;
    border-radius: 22px;
    height: 240px;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) {
    width: calc(100% - 84px);
    padding: 8px 12px;
    margin-top: 24px;
}
#info-menu > div:nth-of-type(1) > div > h4 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 8px;
}
#info-menu > div:nth-of-type(1) > div > span {
    color: #777;
    font-style: italic;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div {
    display: flex;
    margin-top: 16px;
    margin-left: 0px;
    align-items: center;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
    margin-top: 32px;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div > div:nth-of-type(1) {
    display: none;
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 40px;
    margin-right: 16px;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div > div > h5 {
    color: #fefefe;
    font-size: 17px;
}
#info-menu > div:nth-of-type(1) > div:nth-of-type(2) > div > div > span {
    color: #cccccc;
    font-size: 15px;
}
#info-menu > div:nth-of-type(2) {
    width: calc(100% - 44px);
}



/***
* Menu
***/

#nav-menu{
    z-index: 500;
    position: absolute;
    background-color: #f7f7f7;
    padding-top: 84px;
    height: calc(100vh - 84px);
    left: -405px;
    width: 405px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    transition: all ease-in-out 0.4s;
    overflow-x: hidden;
}
#nav-menu.menu-open{
    transform: translate(100%);
}
#nav-menu ul{
    list-style: none;
    overflow-x: hidden;
}
#nav-menu ul > li > a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #333 !important;
    font-size: 16px !important;
}
#nav-menu > ul{
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-end !important;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding-bottom: 60px;
}
#nav-menu > ul > li > a{
    text-transform: uppercase;
    font-size: 1.3em !important;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 7px;
    color: #2740d0  !important;
    /*background-color: #d8d8d8;*/
}
#nav-menu > ul > li > a:nth-of-type(1) {
    padding-top: 20px;
}
#nav-menu > ul > li > ul > li > a{
    font-size: 1.1em !important;
    padding-left: 32px;
    padding-top: 17px;
    padding-bottom: 6px;
    /*background-color: #e3e3e3;*/
}
#nav-menu > ul > li > ul > li:nth-of-type(1) > a{
    padding-top: 7px;
}
#nav-menu > ul > li > ul > li > ul > li > a{
    font-size: 1em !important;
    padding-left: 45px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #777 !important;
    font-weight: 500;
}
#nav-menu > ul > li > ul > li > ul > li:hover{
    background-color: #e3e3e3;
    cursor: pointer;
    border-right: 4px solid #2740d0 ;
}

#infooter {
    font-size: 0.9em !important;
    color: #777 !important;
    font-weight: 500;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
    width: calc(100% - 50px);
}

#cache
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0ms;
    transition-delay: 0ms;
    transition-timing-function: step-start;
}
#cache.menu-open{
    visibility: visible;
    transition-property: all;
    transition-duration: 0ms;
    transition-delay: 400ms;
    transition-timing-function: step-end;
}
#cache > div{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition-property: all;
    transition-duration: 350ms;
    transition-delay: 20ms;
    transition-timing-function: ease-in-out;
}
#cache.menu-open > div{
    visibility: visible;
    background-color: rgba(0,0,0,0.4);
}

/***
* Search
***/

#search{
    width: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 18px 0px 18px;
}
#search > div:nth-of-type(1){
    position: relative;
    width: 100%;
}
#search > div:nth-of-type(1) > input{
    background: #dadada;
    height: 32px;
    line-height: 30px;
    border: none;
    width: 200px;
    padding: 4px 36px 2px 10px;
    border-radius: 3px;
}
#search > div:nth-of-type(1) > button{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 5px;
    right: 13px;
    border: none;
    background-image: url('../img/icon-search.svg');
    background-color: transparent;
    background-size: 24px auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#search > div:nth-of-type(2){
    width: 244px;
    margin-top: 6px;
    margin-right: 7px;
}
.search-result {
    display: grid;
    grid-gap: 3px;
    background-color: #ffffff;
    padding: 16px 22px 14px;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
    margin-top: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background-image: url('../img/icon-arrow.svg');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: right 15px bottom 50%;
}
.search-result:hover{
    background-color: #f5f5f5;
    /*box-shadow: 0 1px 4px rgba(0,0,0,.2);*/
    background-position: right 9px bottom 50%;
}
.search-result > h4{
    grid-column: 1;
    grid-row: 1;
    font-size: 18px;
    line-height: 18px;
}
.search-result > span{
    grid-column: 1;
    grid-row: 2;
    font-size: 13px;
    line-height: 13px;
    color: #777777;
}
#search-result-template
{
    display: none !important;
}

/***
* Container
***/
#container{
    position: absolute;
    top: 95px;
    left: 10vw;
    width: 80vw;
    height: calc(100vh - 105px);
    transition: all ease-in-out 0.4s;
    border: none;
}
#container > iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/***
* Map name nav (bottom right)
***/

#map-label {
    position: fixed;
    right: 20px;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 32, 124); 
    background-color: #3a57fd;
    background-color: #2740d0;
    z-index: 200;
    border-radius: 50px;
}
#map-label > div:nth-of-type(1) {
    display: flex;
    width: 22px;
    height: 22px;
    margin-left: 18px;
    transition: 0.1s all ease-in-out;    
    background-image: url('../img/icon-mappoint.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#map-label > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding: 12px 24px 11px 12px;
    position: relative;
    top: -2px;
}
#map-label > div:nth-of-type(2) > div {
    height: 16px;
    color: #fff;
}
#map-label > div:nth-of-type(2) a {
    text-decoration: none;
    line-height: 17px;
}
#map-label > div:nth-of-type(2) span {
    text-decoration: none;
    line-height: 14px;
    font-size: 13px;
    color: #fff;
}

/***
* Footer
***/

footer {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 280px;
    z-index: 300;
}
footer > .log-box {
    box-shadow: 0 2px 4px rgba(0,0,0,.4); 
    padding: 13px 10px 12px 20px;
    font-size: 0.8em;
    text-align: left;
    line-height: 14px;
    margin-top: 8px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}
footer > .log-box.hidden {
    opacity: 0;
}
footer .warning {
    background-color: rgba(223, 189, 0, 1);
    color: #333;
}
footer .info {
    background-color: rgb(162, 233, 255);
    color: #333;
}
footer .error {
    background-color: rgb(250, 36, 54);
    color: #ddd;
}
footer > .log-box > div {
    background-color: rgba(100, 100, 100, 0);
    border-radius: 30px;
    width: 18px;
    min-width: 18px;
    height: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 8px;
}
footer > .log-box > div:hover {
    background-color: rgba(100, 100, 100, 0.4);
}
/**
 * Mapa
  */
.roomLinkWrapper {
    cursor: pointer;
}

.roomLinkWrapper > text > tspan{
    /*fill: #2f236b !important;
    fill: red !important;*/
}

.roomLinkWrapper.choosen > text > tspan{
    fill: #2740d0  !important;
    stroke: #2740d0  !important;
}

/***
* Responsive mobile
***/

@media all and (max-width: 600px) {
    #container{
        top: 95px;
        height: calc(90vh - 105px);
    }
    #map-label {
        position: fixed;
        right: 50%;
        transform: translateX(50%);
        width: 250px;
    }
    footer {
        position: fixed;
        right: 50%;
        transform: translateX(50%);
    }
    header {
        display: flex;
        top: 16px;
        left: 16px;
        width: calc(100vw - 32px);
    }
    header > input {
        width: calc(100% - 138px) !important;
    }
    #btn-settings{
        position: fixed;
        top: 16px !important;
        right: 16px !important;
        margin-right: 0px !important;
        z-index: 1100 !important;
        box-shadow: none !important;
        background-color: transparent !important;
        background-size: 26px auto !important;
    }
    #settings {
        position: fixed;
        right: 20px !important;
        width: calc(100vw - 88px) !important;
        min-width: 204px;
    }
    #nav-menu{
        left: calc(-100vw + 58px);
        width: calc(100vw - 58px);
    }
    #info-menu {
        left: calc(-100vw + 58px);
        width: calc(100vw - 58px);
    }
}