
######### Ne pas modifier / Don't touch #########

## Redirections https epimap.fr

RewriteEngine On

# RewriteCond %{HTTP_HOST} ^www.epimap.fr$
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} !on
# RewriteCond %{HTTP_HOST} ^(?:www\.)?epimap\.fr(?:.*)$ [nc]
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]

######### End #########

DirectoryIndex index.html

## Redirect only maps, not other files (css and js)

RewriteRule ^map-[a-z0-9-]+(.svg)?[\/]?$ index.html [L]
RewriteRule ^[a-z0-9-]+(.svg)?[\/]?$ index.html [L]
RewriteRule ^[a-z]{2}(\/[a-z]+(\/-?[0-9]{1}(\/[-a-z0-9]+)?)?)?(\/)?$ index.html [L]
# RewriteRule ^\/([-a-z0-9\/]+$ index.html [L]

## ErrorDocument 404 /maintenance/maintenance.html

<FilesMatch "\\.(svg)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>

<FilesMatch "\\.(css)$">
Header set Cache-Control "max-age=3600, public"
</FilesMatch>

<FilesMatch "\\.(js)$">
Header set Cache-Control "max-age=3600, public"
</FilesMatch>

<FilesMatch "\\.(ttf)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>